.table {
width: 70%;
position: absolute;
float: center;
}

form input:focus {
  border-color: #0088cc;
}

form {
  text-align: center;
  vertical-align: middle;

}
body {
    background-color:#eee;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
}
